.App {
  text-align: center;
  background-color: #FFE6EE;
  min-height: 100vh;
}

button {
  height: 100px;
  width: 100px;
  background-color: rgb(216, 234, 219);
}

#reset {
  background-color: #ebecf0;
  height: 30px;
}

button:hover {
  background-color: azure;
  cursor: pointer;
}